.score {
  font-size: 20px;
  margin-bottom: 15px;
}

.game-message {
  margin-top: 20px;
  text-align: center;
  font-size: 22px;
}

.restart-btn {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
}
