.board {
  cursor: none;
  position: relative;
}

.hammer {
  position: absolute;
  width: 60px;
  height: 60px;
  transform: translate(-50%, -50%) rotate(-45deg);
  pointer-events: none;
  transition: transform 0.05s linear;
}
