.hammer {
  position: absolute;
  width: 60px;
  height: 60px;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: opacity 0.1s ease;
  opacity: 0;
  pointer-events: none; /* Не ловит клики */
}

.hammer.show {
  opacity: 1;
}
